<div class="row">
  <div class="col-md-4 offset-md-4">
    <h1>Log in</h1>

    <div class="alert alert-danger" *ngIf="authenticationFailed">
      <button type="button" class="close" aria-label="Close" (click)="authenticationFailed = false"><span aria-hidden="true">&#215;</span></button>
      Nope, try again.
    </div>

    <form id="credentials" (ngSubmit)="authenticate()" #credentials="ngForm">
      <div class="form-group">
        <label for="login">Login</label>
        <input id="login" class="form-control" formControlName="login" required [(ngModel)]="credentials.login">
        <div *ngIf="credentials.login.dirty && credentials.login.hasError('required')">Login is required</div>
      </div>
      <div class="form-group">
        <label for="passord">Password</label>
        <input type="password" id="password" class="form-control" formControlName="password" required [(ngModel)]="credentials.password">
        <div *ngIf="credentials.password.dirty && credentials.password.hasError('required')">Password is required</div>
      </div>
      <button type="submit" [disabled]="credentials.invalid">Register</button>
    </form>
  </div>
</div>
